*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* commons */
.clearfix{
    content: " ";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.radius{
    border-radius: 15px;   
}


/* body */
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0px 140px 20px 140px;

}

/* header */
header{
     height: 180px;
}

/* logo */
.img-container{
    border-right: 1px solid lightgrey;
    display: inline-block;
    
}
#logo{
    height: 90px;
    margin-right: 25px;
}

/* menu */
nav{
    height: 90px;
    line-height: 90px;

}
nav li{
    display: inline-block;
    margin-right: 15px;

}

nav a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 22px;
    vertical-align: middle;
}

/* main top  */

.main-top{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 880px;
    background-repeat: no-repeat;
    /* padding-top: 44%; */
    background-position: center;
    margin: 20px 0px;
    
}
.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

 .text{
    padding-top: 43%;
    width: 50%;
    font-size: 20px;
    color: white;
    padding-left: 4%;
}
.text span{
    font-size: 35px;
    display: block;
}
/*float container */

.float-container{    /* contenitore elementi float  */ 
    width: 100%;
    margin-top: 20px;
}

/*main bottom content : colonna centrale*/
.main-bottom-content{
    width: 57%;
    margin-right:1.5%;
    margin-left: 1.5%; 
}
.immagine-centrale{
    /* img */
    background-image: url(../img/banner-2.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img-sx{
    background-image: url(../img/img-1.jpg);
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: brightness(80%); */

}
#img-dx{
    background-image: url(../img/img-3.jpg);
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

aside{
    width: 20%;
}

aside, .main-bottom-content{
    margin-bottom: 15px;
}




/* footer */
footer{
    height: 70px;
}













/*debug*/


main .main-top.debug{
    height: 250px;
    background-color: orange;
}

.debug.main-bottom-title{
    height:70px;
    background-color: grey;
}

footer.debug{
    background-color: yellow;
    
}

/* aside.debug{
    height: 100px;
    background-color: blue;
} */

div.main-bottom-content.debug{
    height: 300px;
    background-color:green ;
}
