*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* commons */
.clearfix{
    content: " ";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.radius{
    border-radius: 15px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

/* body */
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0px 140px 20px 140px;

}

/* header */
header{
     height: 180px;
    margin-top: 40px;

}

/* logo */
.img-container{
    border-right: 1px solid lightgrey;
    display: inline-block;


}
#logo{
    height: 90px;
    margin-right: 25px;
}

/* menu */
nav{
    height: 90px;
    line-height: 90px;

}
nav li{
    display: inline-block;
    margin-right: 15px;

}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    vertical-align: middle;
}

/* main top  */

.main-top{
    background-image: url(../../img/banner-bonus.jpg);
    background-size: cover;
    height: 880px;
    background-repeat: no-repeat;
    /* padding-top: 44%; */
    background-position: center;
    margin-top: 20px;

}
.text-container{
    padding-top: 43%;
    width: 100%;
    font-size: 20px;
    color: white;
    padding-left: 4%;
    display: inline-block;
}
.testo-sinistra {
    width: 95%;
    height: 70px;
}
h2:first-child {
    width: 40%;
}
.maggiore {
    height: 70px;
    line-height: 70px;
}
p.testo {
    color: white;
    padding-left: 4%;
    width: 40%;
    margin-top: 10px;
}
/*float container */

.float-container{    /* contenitore elementi float  */
    width: 100%;
    /* margin-top: 20px; */
}
/* main bottom */
.main-bottom-title{
    font-size: 18px;
    color:#929292 ;
    margin: 30px 0px;
    padding-left: 30px;
}
.main-bottom-title span{
    /* font-weight: bold; */
    display: block;
    font-size: 35px;
    color: black;
}
.titolo{
    margin: 15px 0px;
    font-size: 22px;
}
.titolo + p {
    color: #929292;
    font-size: 20px;
}
.titolo , .titolo + p, .autore{
    padding:0px 25px;
}
.autore {
    font-size: 13px;
    margin-top: 15px;
}
.autore img{
    border-radius: 50%;
    vertical-align: middle;
}

.nome , .data , .testo-data {
    vertical-align: middle;
}

.data , .testo-data {
    color: lightgrey;
}

.data{
    margin:0px 5px;
}
.sbarra{
    border-right: 1px solid lightgrey;
    margin-right: 9px;
}

/*main bottom content : colonna centrale*/
.colonne.centrali{
    /* width: 57%; */
    margin-right:1.5%;
    margin-left: 1.5%;
}
.immagine-centrale{
    /* img */
    background-image: url(../../img/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.immagini{
    height: 300px;
    width: 100%;
}
/* colonne laterali */
.colonne div.immagini{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.colonne{
    /* width: 20%; */
    width: calc((100% - 3%) / 3); /*100% meno i margini centrali diviso 3*/
    /* margin-bottom: 5px; */
    margin-bottom: 40px;

}

#img-1{ /*colonna sinistra*/
    background-image: url(../../img/img-1.jpg);
}
#img-2{ /*colonna destra*/
    background-image: url(../../img/img-2.jpg);
}

#img-3{ /*colonna destra*/
    background-image: url(../../img/img-3.jpg);
}
#img-4{ /*colonna sinistra*/
    background-image: url(../../img/img-4.jpg);
}
#img-5{ /*colonna destra*/
    background-image: url(../../img/img-5.jpg);
}

#img-6{ /*colonna destra*/
    background-image: url(../../img/img-6.jpg);
}


/* footer */
footer{
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 15px;
}

footer span{
    display: inline-block;
    font-size: 20px;
}

#heart{
    color: red;
    /* font-size: 10px; */
    font-size: 22px;
    margin-left: 7px;
}











/*debug*/


main .main-top.debug{
    height: 250px;
    background-color: orange;
}

.debug.main-bottom-title{
    height:70px;
    background-color: grey;
}

footer.debug{
    background-color: yellow;

}

/* aside.debug{
    height: 100px;
    background-color: blue;
} */

div.main-bottom-content.debug{
    height: 300px;
    background-color:green ;
}
