*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* commons */
.clearfix{
    content: " ";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.radius{
    border-radius: 15px;
}

.layover{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

/* body */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0px 140px 20px 140px;

}
/*header*/
header{
    margin-top: 50px;
}
/* logo */
.img-container{
    border-right: 1px solid lightgrey;
    display: inline-block;

}
#logo{
    height: 90px;
    margin-right: 25px;
}

/* menu */
nav{
    height: 90px;
    line-height: 90px;

}
nav li{
    display: inline-block;
    margin-right: 15px;

}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    vertical-align: middle;
}
/*
a span{

} */

.main-top{
    background-image: url(../../img/banner-bonus.jpg);
    background-size: cover;
    height: 880px;
    background-repeat: no-repeat;
    /* padding-top: 44%; */
    background-position: center;
    margin-top: 20px;

}

h2:first-child{
    width: 40%;
}
.maggiore{
    height: 70px;
    line-height: 70px;
}
 .text-container{
    padding-top: 43%;
    width: 100%;
    font-size: 20px;
    color: white;
    padding-left: 4%;
    display: inline-block;
}
.testo-sinistra{
    width: 95%;
    height: 70px;
}

p.testo{
    color: white;
    padding-left: 4%;
    width: 60%;
    margin-top: 10px;
}
/*float container */

.float-container{    /* contenitore elementi float  */
    width: 100%;
    /* margin-top: 20px; */
}

/* main bottom */
.main-bottom-title{
    font-size: 18px;
    color:#929292 ;
    margin: 30px 0px;
}
.main-bottom-title span{
    /* font-weight: bold; */
    display: block;
    font-size: 35px;
    color: black;
}

.float-container{
    /* padding-left: 25px; */
}
.blocchetti.centrali{
    /* margin: 0px 20px; */
    margin-right: 20px;
    margin-left: 20px;
}
.immagini{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#img-1{
    background-image: url(../../img/img-1.jpg);

}

#img-2{
    background-image: url(../../img/img-2.jpg);

}

#img-3{
    background-image: url(../../img/img-3.jpg);

}
#img-4{
    background-image: url(../../img/img-4.jpg);

}

#img-5{
    background-image: url(../../img/img-5.jpg);

}
#img-6{
    background-image: url(../../img/img-5.jpg);

}
.testo-blocchetti{
    padding: 18px;
}

.testo-blocchetti h3{
    margin: 5px 0px;
}

.blocchetti{
    margin-top: 15px;
    height: 500px;
    width: calc( (100% - 40px) / 3);
    /* background-color: blue; */
    /* border: 1px solid black; */
    /* margin-right: 25px; */
    /* height: 100%; */
}




.fine-blocchetto{
    display: inline-block;
    padding-right: 3px;
    margin-top: 5px;
    font-size: 12px;
    color: lightgrey;

}
.nome-avatar{
    color: black;
}
.data{
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    padding-right: 5px;
}

span.data:nth-child(1){

}
.avatar{
    border-radius: 50%;
    vertical-align: middle;
}

/* footer */
footer{
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-top: 15px;
}

footer span{
    display: inline-block;
    font-size: 20px;
}
#heart{
    color: red;
    /* font-size: 10px; */
    font-size: 22px;
    margin-left: 7px;
}